In [32]:
import pandas as pd
df = pd.read_excel('../data/20122022_출생.xlsx',skiprows=2,nrows=3,usecols='B,C:M',index_col=0)
df.index.name='목록'
df.head(3)
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)

#컬럼추가
df['합계']=0

df.iloc[0,-1]=df.iloc[0].sum()

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [33]:
df.describe()

                 합계
count  3.000000e+00
mean   1.323486e+06
std    2.292344e+06
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    1.985228e+06
max    3.970457e+06

In [34]:
df

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,합계
목록,,,,,,,,,,,,
출생아수(명),484550,436455,435435,438420,406243,357771,326822,302676,272337,260562,249186,3970457
조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.3,5.1,4.9,0
합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.778,0

## 1. 데이터 기본 정보 파악해보기
## 2. 데이터분석
## 3. 데이터 전처리
## 4. 세부적인 분석 및 시각화
## 5. 보고