In [152]:
import pandas as pd
filepath = '../data/chipotle.tsv'
df = pd.read_csv(filepath,sep='\t')
df['item_price']=df['item_price'].str.replace("$",'').astype(float)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### 메뉴별 주문 수량을 출력해라 10개만---------------------------

In [153]:
#메뉴별 주문 수량을 출력해라 10개만
df['item_name'].value_counts()[:10]

item_name
Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: count, dtype: int64

# -----------------------------------------

In [154]:
# .unique() 중복제거
len(df['item_name'].unique())

50

In [155]:
#총 주문수량은 1834개 이다
# df['order_id'].unique()
len(df['order_id'].unique())

1834

In [156]:
df.shape

(4622, 5)

In [157]:
df.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [158]:
list(df['item_name'].value_counts()[:10].items())

item_count=df['item_name'].value_counts()
for i,(val,cnt) in enumerate(item_count.items()):
    print("Top",(i+1),":",val,",",cnt)

Top 1 : Chicken Bowl , 726
Top 2 : Chicken Burrito , 553
Top 3 : Chips and Guacamole , 479
Top 4 : Steak Burrito , 368
Top 5 : Canned Soft Drink , 301
Top 6 : Steak Bowl , 211
Top 7 : Chips , 211
Top 8 : Bottled Water , 162
Top 9 : Chicken Soft Tacos , 115
Top 10 : Chips and Fresh Tomato Salsa , 110
Top 11 : Chicken Salad Bowl , 110
Top 12 : Canned Soda , 104
Top 13 : Side of Chips , 101
Top 14 : Veggie Burrito , 95
Top 15 : Barbacoa Burrito , 91
Top 16 : Veggie Bowl , 85
Top 17 : Carnitas Bowl , 68
Top 18 : Barbacoa Bowl , 66
Top 19 : Carnitas Burrito , 59
Top 20 : Steak Soft Tacos , 55
Top 21 : 6 Pack Soft Drink , 54
Top 22 : Chips and Tomatillo Red Chili Salsa , 48
Top 23 : Chicken Crispy Tacos , 47
Top 24 : Chips and Tomatillo Green Chili Salsa , 43
Top 25 : Carnitas Soft Tacos , 40
Top 26 : Steak Crispy Tacos , 35
Top 27 : Chips and Tomatillo-Green Chili Salsa , 31
Top 28 : Steak Salad Bowl , 29
Top 29 : Nantucket Nectar , 27
Top 30 : Barbacoa Soft Tacos , 25
Top 31 : Chips and Roasted Chili Corn Salsa , 22
Top 32 : Izze , 20
Top 33 : Chips and Tomatillo-Red Chili Salsa , 20
Top 34 : Veggie Salad Bowl , 18
Top 35 : Chips and Roasted Chili-Corn Salsa , 18
Top 36 : Barbacoa Crispy Tacos , 11
Top 37 : Barbacoa Salad Bowl , 10
Top 38 : Chicken Salad , 9
Top 39 : Veggie Soft Tacos , 7
Top 40 : Carnitas Crispy Tacos , 7
Top 41 : Veggie Salad , 6
Top 42 : Carnitas Salad Bowl , 6
Top 43 : Burrito , 6
Top 44 : Steak Salad , 4
Top 45 : Crispy Tacos , 2
Top 46 : Salad , 2
Top 47 : Bowl , 2
Top 48 : Chips and Mild Fresh Tomato Salsa , 1
Top 49 : Veggie Crispy Tacos , 1
Top 50 : Carnitas Salad , 1

In [159]:
# 가격별 주문 횟수
order_count = df.groupby('item_price')['order_id'].count()
order_count[10:]

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_19184\2720149645.py:3: FutureWarning: The behavior of obj[i:j] with a float-dtype index is deprecated. In a future version, this will be treated as positional instead of label-based. For label-based slicing, use obj.loc[i:j] instead
  order_count[10:]

item_price
10.50      1
10.58      5
10.98     99
11.08     10
11.25    521
11.48     51
11.49      1
11.75    284
11.80      1
11.89     26
12.98      1
13.35      1
13.52      1
15.00      1
16.38      1
16.98     19
17.50     40
17.80      1
17.98      7
18.50     12
21.96     10
22.16      2
22.20      1
22.50     13
22.96      1
23.50      6
23.78      2
26.07      1
26.25      3
27.75      2
32.94      1
33.75      1
35.00      2
35.25      1
44.25      1
Name: order_id, dtype: int64

#### 주문당 평균계산금액을 표시해라-------------------------------------

In [160]:
# $표시 제거 밎 float타입 변경
df['item_price']=df['item_price'].str.replace('$','').astype(float)

AttributeError: Can only use .str accessor with string values!

In [ ]:
df.groupby('order_id')['item_price'].sum().mean()

18.811428571428568

# -------------------------------------------

In [ ]:
# 주문별 총 금액 계산
order_total = df.groupby(['order_id','item_name'])['item_price'].sum()

# 조건을 적용하여 20달러 이상인 주문 ID 출력
orders_over_20 = order_total[order_total >= 20]

print("20달러 이상 사용한 주문의 ID:", orders_over_20)

20달러 이상 사용한 주문의 ID: order_id  item_name
40        Steak Bowl            23.50
60        Chicken Salad Bowl    22.50
75        Chicken Burrito       20.00
90        Chicken Burrito       20.00
93        Chicken Bowl          22.50
                                ...
1812      Chicken Burrito       20.00
1824      Chicken Bowl          22.50
1825      Chicken Bowl          31.25
1833      Steak Burrito         23.50
1834      Chicken Salad Bowl    28.75
Name: item_price, Length: 166, dtype: float64

In [ ]:
print("20달러 이상 사용한 주문의 ID:", orders_over_20.count())

20달러 이상 사용한 주문의 ID: 589

In [ ]:
import pandas as pd
filepath = '../data/chipotle.tsv'
df = pd.read_csv(filepath,sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
#각 아이템별 가격을 구하시요
df['quantity']==1
df[df['quantity']==1]
# 50개별 최저 가격 - 아이템별 주문개수가 1개 인것의 가격을 구하시요
df_one_quantity= df[df['quantity']==1]
df_one_quantity.groupby('item_name').min().sort_values('item_price')['item_price']

item_name
Canned Soda                               $1.09
Bottled Water                             $1.09
Canned Soft Drink                         $1.25
Side of Chips                             $1.69
Chips                                     $1.99
Chicken Bowl                             $10.58
Chicken Burrito                          $10.58
Chicken Soft Tacos                       $10.98
Veggie Burrito                           $10.98
Veggie Bowl                              $10.98
Chicken Salad                            $10.98
Chicken Crispy Tacos                     $10.98
Barbacoa Burrito                         $11.08
Steak Burrito                            $11.08
Carnitas Bowl                            $11.08
Carnitas Burrito                         $11.08
Steak Bowl                               $11.08
Chicken Salad Bowl                       $11.25
Veggie Salad Bowl                        $11.25
Veggie Soft Tacos                        $11.25
Barbacoa Soft Tacos                      $11.48
Barbacoa Crispy Tacos                    $11.48
Barbacoa Bowl                            $11.48
Steak Soft Tacos                         $11.48
Carnitas Crispy Tacos                    $11.75
Steak Crispy Tacos                       $11.75
Carnitas Soft Tacos                      $11.75
Carnitas Salad Bowl                      $11.89
Barbacoa Salad Bowl                      $11.89
Steak Salad Bowl                         $11.89
Chips and Fresh Tomato Salsa              $2.29
Chips and Tomatillo-Green Chili Salsa     $2.39
Chips and Tomatillo-Red Chili Salsa       $2.39
Chips and Roasted Chili-Corn Salsa        $2.39
Chips and Tomatillo Red Chili Salsa       $2.95
Chips and Roasted Chili Corn Salsa        $2.95
Chips and Tomatillo Green Chili Salsa     $2.95
Chips and Mild Fresh Tomato Salsa         $3.00
Nantucket Nectar                          $3.39
Izze                                      $3.39
Chips and Guacamole                       $3.89
6 Pack Soft Drink                         $6.49
Crispy Tacos                              $7.40
Burrito                                   $7.40
Bowl                                      $7.40
Salad                                     $7.40
Veggie Crispy Tacos                       $8.49
Veggie Salad                              $8.49
Steak Salad                               $8.69
Carnitas Salad                            $8.99
Name: item_price, dtype: object

In [ ]:
import pandas as pd
filepath = '../data/chipotle.tsv'
df = pd.read_csv(filepath,sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
# 주문별, (item_price)가 높은 가격순으로 주문개수를 구하시요
# 역순으로 정렬
df.groupby('order_id').sum().sort_values('item_price',ascending=False).replace("$","")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
df['item_price']=df['item_price'].str.replace("$",'').astype(float)

In [ ]:
### 주문당 개수가 가장많은 상위 5개 출력
order=df.groupby('order_id').sum().sort_values('quantity',ascending=False)
order.head()

,quantity,item_name,choice_description,item_price
order_id,,,,
1443,35,Chips and Fresh Tomato SalsaBottled Water6 Pac...,"[Coke][Fresh Tomato Salsa, [Fajita Vegetables,...",160.74
926,23,Steak BurritoChicken BowlChicken BowlChicken B...,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuc...",205.25
1786,20,Chicken BowlCarnitas BurritoChicken BowlChicke...,"[Fresh Tomato Salsa, Rice][Fresh Tomato Salsa,...",114.30
1660,19,Chicken BurritoChipsCanned Soft DrinkChicken B...,"[Fresh Tomato Salsa, Rice][Coke][Fresh Tomato ...",70.25
759,18,Chicken BowlCarnitas BowlChicken Soft TacosVeg...,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",86.30

In [182]:
## veggie salad bowl메뉴가 몇번 주문되었는디 확인해라
df['item_name'] =='Veggie Salad Bowl'
len(df[df['item_name'] =='Veggie Salad Bowl'])
print("veggie salad bowl :",len(df[df['item_name'] =='Veggie Salad Bowl']))

veggie salad bowl : 18

#### Chicken Bowl 2개 이상 주문한 횟수를 출력하세요

In [204]:
## Chicken Bowl 2개 이상 주문한 횟수를 출력하세요

filt=(df['item_name'] =="Chicken Bowl") & (df['quantity']>=2)
print("Chicken Bowl 2개 이상 주문한 횟수 :",len(df[filt]))

Chicken Bowl 2개 이상 주문한 횟수 : 33

#### 주문한 Chicken Bowl의 총 주문수량

In [217]:
#### 주문한 Chicken Bowl의 총 주문수량
df_item_name = df[df['item_name'] == 'Chicken Bowl']
df_item_name # 치킨 볼 메뉴만 출력됨.
order_id_num = df_item_name.groupby('order_id').sum()['quantity']


print("주문한 Chicken Bowl의 총 주문수량 :",order_id_num[order_id_num>=2].sum())

주문한 Chicken Bowl의 총 주문수량 : 260