### Series 1차원 배열

In [6]:
import pandas as pd

In [16]:
temp=pd.Series([-20,10,10,20])

In [31]:
temp

0   -20
1    10
2    10
3    20
dtype: int64

In [36]:
import pandas as pd

In [40]:
list1=[-20,10,0,10,20]

In [41]:
ser = pd.Series(list1)

In [42]:
list1

[-20, 10, 0, 10, 20]

In [43]:
ser

0   -20
1    10
2     0
3    10
4    20
dtype: int64

In [44]:
ser[0]

-20

In [47]:
list1[0]

-20

### Series index설정

In [49]:
ser= pd.Series(list1,index=['Jan','feb','mar','apr','may'])

In [51]:
ser

Jan   -20
feb    10
mar     0
apr    10
may    20
dtype: int64

In [52]:
ser['Jan']

-20

In [54]:
ser['feb']

10