###

In [40]:
import pandas as pd

In [41]:
df=pd.read_csv('stu.csv')
df.set_index('지원번호',inplace=True)
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

#### skiprows=1 맨 윗줄 잘라오기(지정가능)

In [42]:
# 맨 윗줄 잘라오기
df=pd.read_csv('stu.csv',skiprows=1) #1번줄을 컬럼명이니 데이터가 아니다..

### nrows 지정한 개수만큼 가져오기

In [43]:
df=pd.read_csv('stu.csv',nrows=4,skiprows=1) #컬럼을 제외한 4줄을 들고온다.
df

#파일저장
# df.to_csv('stu2.csv',encoding='utf-8-sig')

#인덱스

   1번  강나래  구로고  197  90  85  100  95  85.1      Python
0  2번  강태원  구로고  184  40  35   50  55    25        Java
1  3번  강호림  구로고  168  80  75   70  80    75  javascript
2  4번  김수찬  구로고  187  40  60   70  75    80         NaN
3  5번  김재욱  구로고  188  15  20   10  35    10         NaN