In [5]:
import pandas as pd

df1=pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
df1.set_index('구분',inplace=True)
df1

df2=pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
df2.set_index('구분',inplace=True)
df2

          사고(건)  사망(명)  부상(명)
구분
2014년1월     169      7    347
2014년2월     145      3    268
2014년3월     206     12    358
2014년4월     182      4    360
2014년5월     218     17    474
2014년6월     233     13    457
2014년7월     229     14    431
2014년8월     222      9    447
2014년9월     225     15    430
2014년10월    210     14    392
2014년11월    209     10    386
2014년12월    178     12    329