### 영화 정보 리스트 가져오기

In [34]:
import pandas as pd
data={
    'year': [2019, 2020, 2021, 2022, 2023], 
    'title': ['극한직업', '남산의 부장들', '모가디슈', '범죄도시2', '서울의 봄'],
    'viewer': [1626, 475, 361, 1269, 1312],
    'rating': [3.6, 3.5, 3.6, 3.5, 4.1]
}

In [35]:
data

{'year': [2019, 2020, 2021, 2022, 2023],
 'title': ['극한직업', '남산의 부장들', '모가디슈', '범죄도시2', '서울의 봄'],
 'viewer': [1626, 475, 361, 1269, 1312],
 'rating': [3.6, 3.5, 3.6, 3.5, 4.1]}

In [36]:
# dataframe 2차원 배열을 만든다
df=pd.DataFrame(data)
df

   year    title  viewer  rating
0  2019     극한직업    1626     3.6
1  2020  남산의 부장들     475     3.5
2  2021     모가디슈     361     3.6
3  2022    범죄도시2    1269     3.5
4  2023    서울의 봄    1312     4.1

###  df = pd.DataFrame(data,index=['2010',.......]) #신규 인덱스생성
df.set_index('year',inplace=True) #존재하는 컬럼에서 인덱스를 지정
df

In [39]:
# df = pd.DataFrame(data,index=['2010',.......]) #신규 인덱스생성
df.set_index('year',inplace=True) #존재하는 컬럼에서 인덱스를 지정
df

        title  viewer  rating
year
2019     극한직업    1626     3.6
2020  남산의 부장들     475     3.5
2021     모가디슈     361     3.6
2022    범죄도시2    1269     3.5
2023    서울의 봄    1312     4.1

### csv,txt,excel 엑셀파일로 저장하기

In [41]:
#csv 저장방법 (액셀로 안깨지게 저장방법)
df.to_csv('movie.csv',encoding='utf-8-sig')

In [42]:
#txt 저장방법
df.to_csv('movie_t.txt',encoding='utf-8')

In [45]:
#excel 저장방법
df.to_excel('movie_e.xlsx')