In [232]:
from sklearn import svm,metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import requests
matplotlib.rcParams['axes.unicode_minus'] = False  # 마이너스 표시 해결
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # windows 사용자
matplotlib.rcParams['font.size'] = '10' # 글자크기

In [233]:
import pandas as pd
df = pd.read_csv('../data/iris.csv')
df.head(3)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [235]:
df[['SepalLength'	,'SepalWidth'	,'PetalLength'	,'PetalWidth']].head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [236]:
# 150개 배열 생성
np.random.seed(150)
index = np.arange(150)
index

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149])

## 랜덤숫자 생성

In [237]:
# #파이썬
# ran_num[i for o in range(150)]
# random.shuffle(ran_num)

#--------------------------------------------------------------
#numpy random 함수 사용
# random 0-149 랜던숫자를 생성
np.random.seed(150)
index = np.arange(150)
np.random.shuffle(index) #랜덤으로 섞어준다
print(index)

[ 53  42 141  83  60  28  13  31  71  59   2 124 131  54 144  36  52 139
 128 114  63  91  16   8  87  76  35 117 109  88  72  84  21  43  85 137
 134  48  30  27  47  41  90  33 145  79  40  20  34  11 136 113  32 119
  78 125   3  96  82  86   6 118 111 143  69 129 140  62  99  65  97  39
  98  57  73  51  77 149  94  29 120  56   4   9  37   1  44 106 148  22
 102  66  18  24  58  89  61 115 132   0   5  10 133  70 112 146 126 107
  80 123  46 147 122  75  15  68  95  26  12 127  55 103  67 130  19  64
  74 135 110  45  23 108  38   7 121  93  81 138 116  17  49  14 104 105
  92 101 142 100  50  25]

In [238]:
# index df에 대입해서 가져오면,랜덤으로 데이터가 섞여서 가져올수있음.

In [239]:
# 1. 데이터 전처리 : train_data,test_data 수동 분리
# train_input = df.iloc[index[:100],:-1] #중요!!!!!!!!!!
# test_input = df.iloc[index[100:],:-1]
# train_target=df.iloc[index[:100],4]
# test_target=df.iloc[index[100:],4]

# 2. 데이터 학습시키기

# 3. 데이터 예측하기

# 4. 정답률 구하기

In [240]:
#데이터 전처리 data,결과값 데이터 분리
datas_input = df.iloc[:,:-1]
datas_target=df.iloc[:,4]

#모든 data를 가지고 train,test 데이터 분리
# train_data,test_data 자동 분리
train_input,test_input,train_target,test_target = train_test_split(datas_input,datas_target)

In [241]:
train_input

     SepalLength  SepalWidth  PetalLength  PetalWidth
119          6.0         2.2          5.0         1.5
74           6.4         2.9          4.3         1.3
4            5.0         3.6          1.4         0.2
98           5.1         2.5          3.0         1.1
50           7.0         3.2          4.7         1.4
..           ...         ...          ...         ...
81           5.5         2.4          3.7         1.0
35           5.0         3.2          1.2         0.2
16           5.4         3.9          1.3         0.4
3            4.6         3.1          1.5         0.2
19           5.1         3.8          1.5         0.3

[112 rows x 4 columns]

In [242]:
#데이터 학습시키기 - 모델 선정 후 데이터훈련
clf=svm.SVC()
# 데이터 훈련
clf.fit(train_input,train_target)

# 데이터 예측
result=clf.predict(test_input)

# 결과값(덩답률)
# score=metrics.accuracy_score(test_target,result)
score=clf.score(test_input,test_target)
print('정답률 : ',score*100,'%')

정답률 :  94.73684210526315 %

In [243]:
# 4.9 2.9 1.4 0.2 -> 무슨 품종인지 출력하시요
# 5.6 3 4.1 1.2
# 6.5 2.8 6.7 2.2

In [244]:
# num1=int(input('데이터1를 입력하세요'))
# num2=int(input('데이터2를 입력하세요'))
# num3=int(input('데이터3를 입력하세요'))
# num4=int(input('데이터4를 입력하세요'))
# sample_data=[num1,num2,num3,num4]
# print(sample_data)
# pre=clf.predict([sample_data])
# print('정답 : ',pre)

ValueError: invalid literal for int() with base 10: '5.6'